@import "../../style/index";

.navFooter {
  background: #fff;
  color: #000000;
  h3 {
    font-size: 16px;
    // color: #fff;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 0;
    opacity: 0.5;
    margin-top: 20px;
  }
  ul li {
    font-size: 16px;
    // color: #fff;
    line-height: 2.5;
  }

  a {
    text-decoration: none;
    // color: #fff;
  }

  .recordPC {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    p {
      // color: #FFF;
      margin-bottom: 0px;
      font-size: 14px;
      line-height:24px;
    }
    img {
      width: 20px;
    }
    .recordInfo {
      display: flex;
    }
    .recordText {
      width: 100%;
      text-align: center;
    }
    .social {
      flex: 1 1 auto;
      text-align: right;
      margin: 14px 0;
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        text-align: center;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        div {
          display: inline-block;
          height: 20px;
        }
      }
      .githubIcon {
        width: 18px;
        background: url("./img/md_github.png") no-repeat;
        background-size: cover;
      }
      .twitterIcon {
        width: 22px;
        background: url("./img/md_twitter.png") no-repeat;
        background-size: cover;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .navFooter {
    padding: 0 20px 40px;
    .recordPC {
      padding: 0;
      flex-direction: column;
      .social {
        margin: 20px 0 0;
        font-size: 0;
        .githubIcon {
          width: 18px;
          background: url("./img/md_github.png") no-repeat;
          background-size: cover;
        }
        .twitterIcon {
          width: 22px;
          background: url("./img/md_twitter.png") no-repeat;
          background-size: cover;
        }
      }
      p {
        display: inline-block;
        font-size: 10px;
        padding-left: 20px;
      }
    }
  }
}