@import "../../style/index";

.mobileMenu {
  display: none;
}
.Navbar{
  background: transparent;
  padding: .5rem 0;
  justify-content: space-between;
}

.NavLink {
  color: $text-main;
  cursor: pointer;
}

.ant-drawer-body {
  padding: 0;
}
.Language {
  color: $text-main;
  cursor: pointer;
  padding-right: .5rem;
  padding-left: .5rem;
}
.menuIcon {
  width: 34px;
  height: 34px;
}
.drawer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .linkContent {
    flex: 1 1 auto;
    margin-top: 60px;
    a {
      font-weight:300;
      font-size:22px;
      margin-bottom: 30px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      .NavLink {
        color: #061A9D;
      }
    }
    .Language {
      color: #061A9D;
      font-weight:300;
      font-size:22px;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
  }
  .closeBtn {
    text-align: right;
    padding: 10px;
    img {
      width: 34px;
      height: 34px;
    }
  }
}

.closeBox{
  padding: 11px 15px;
  background: #F7F7F7;
}

.lngBox{
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F7F7F7;
}

.navLinkSub{
  font-size: 14px;
  font-weight: normal;
  padding: 0.5rem 0;
}

@media (max-width: 575.98px) {
  .Navbar{
    padding: .5rem 1rem;
    a{
      img {
        width: 160px;
      }
    }
  }
  .mobileMenu {
    display: block;
  }
  .navLinks {
    display: none;
  }
}
