@import "../../style/index";

.about {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aboutBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 780px;
    height: 272px;
    background: linear-gradient(90deg, rgba(48, 35, 174, 1) 0%, rgba(83, 160, 253, 1) 48%, rgba(180, 236, 81, 1) 100%);
    opacity: 0.1;
    filter: blur(48px);
}

.section6 {
    margin-top: 60px;
    flex: 1 1 auto;
    .title {
        font-size: 30px;
        color: #061A9D;
        line-height: 38px;
        text-align: center;
        margin-bottom: 80px;
    }

    .section6_item {
        margin-right: 2vw;
    }

    .subTitle {
        font-size: 20px;
        color: #071B9E;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 25px 0 20px;
        min-height: 50px;
    }

    p {
        line-height: 20px;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .btns {
        margin-top: 70px;
        text-align: center;
    }
}

.imgWrapper {
    text-align: center;

    img {
        width: 184px;
    }
}

@media (max-width: 575.98px) {
    .aboutBg {
        display: none;
    }

    .row {
        >.col {
            // padding: 0 20px;
        }
    }

    .imgWrapper {
        display: none;
    }

    .section6 {
        margin-top: 0;
        padding: 40px 20px;
        .title {
          font-size: 20px;
          margin: 0 0 20px;
          text-align: center;
        }
        .section6_item {
          padding-right: 0;
          margin-bottom: 40px;
        }
        .btns {
          margin-top: 0;
          text-align: center;
        }
        .linkBtn {
          width: 100%;
        }
      }
}